<% stylesheet "company/messages" %>
<% stylesheet "third/autoSuggest" %>
<% javascript "third/jquery.autoSuggest.minified" %>
<% javascript "company/messages" %>

<div class="message-page">
  <%= render :partial => "company/shared/message_actions" %>
  <%= render :partial => "company/shared/new_message" %>
  <div class="panel">
    <div class="panel-head">
      <%= render :partial => "company/shared/message_box_label" %>
    </div>
    <div class="panel-body">
      <h1>A mensagem não foi encontrada. <br/>Provavelmente ela já foi excluída anteriormente.</h1>
    </div>

  </div>
</div>

<script type="text/javascript">
  //to get contatcs
  var suggest_data = { items: [

<% for c in current_company.company.friends %>
        {value: <%= c.user_id %>, name: "<%= c.razao_social %>"},
<% end %>
    ]};

  $(document).ready(function(){
    $("#message-form input#message_email")
    .autoSuggest(
    suggest_data.items,
    {
      minChars: 1,
      startText: "Digite o nome do contato",
      emptyText: "Nenhum contato encontrado",
      limitText: "Não é permitido adicionar novos contatos",
      selectedItemProp: "name",
      searchObjProps: "name",
      selectionLimit: 1,
      selectionRemoved: function(elem) {
        elem.fadeTo("fast", 0, function() {
          elem.remove();
        });
      }
    });
  });
</script>
