
<div id="colleft">
  <h1>Participantes da rede</h1>
  <div class="space">
	<%= link_to "#{image_tag Layout.find_by_company_id(549).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(549).name, :length=>15}",business_card_path(549),:style=>"float:left" , :class=>'empresas-box'%>
	<%= link_to "#{image_tag Layout.find_by_company_id(531).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(531).name, :length=>15}",business_card_path(531),:style=>"float:left" , :class=>'empresas-box'%>
	<%= link_to "#{image_tag Layout.find_by_company_id(427).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(427).name, :length=>15}",business_card_path(427),:style=>"float:left" , :class=>'empresas-box'%>
	<%= link_to "#{image_tag Layout.find_by_company_id(354).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(354).name, :length=>15}",business_card_path(354),:style=>"float:left" , :class=>'empresas-box'%>

	<%= link_to "#{image_tag Layout.find_by_company_id(182).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(182).name, :length=>15}",business_card_path(182),:style=>"float:left" , :class=>'empresas-box last'%>
	<%= link_to "#{image_tag Layout.find_by_company_id(261).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(261).name, :length=>15}",business_card_path(261),:style=>"float:left" , :class=>'empresas-box last'%>
	<%= link_to "#{image_tag Layout.find_by_company_id(411).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(411).name, :length=>15}",business_card_path(411),:style=>"float:left" , :class=>'empresas-box last'%>
	<%= link_to "#{image_tag Layout.find_by_company_id(290).card1.url(:thumb),:width=>80,:height=>80}#{truncate Layout.find_by_company_id(290).name, :length=>15}",business_card_path(290),:style=>"float:left" , :class=>'empresas-box last'%>
  </div>

  <%= link_to  "Ver Mais...", search_path, :class => 'link-btn-orange' %>
</div>
<div id="colright">
  <h1>Rede de neg&oacute;cios</h1>
  <div>
	<p class="first">
		<%= image_tag("/images/icons/coins.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "Gerenciador avan&ccedil;ado de neg&oacute;cios", who_path %></strong>
	</p>
	<p>
		<%= image_tag("/images/icons/onebit.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "C&aacute;talogo digital", who_path %></strong>
	</p>
	<p>
		<%= image_tag("/images/icons/vcarsd.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "Cart&atilde;o de visitas on line", who_path %></strong>
	</p>
	<p>
		<%= image_tag("/images/icons/email_marketing.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "Envios de newsletter", who_path %></strong>
	</p>
	<p>
		<%= image_tag("/images/icons/site.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "Site auto-gerenci&aacute;vel", who_path %></strong>
	</p>
	<p class="last">
		<%= image_tag("/images/icons/monitor.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "Disco virtual", who_path %></strong>
	</p>
	<p class="last">
		<%= image_tag("/images/icons/users_business.png", :width => "32", :height => "32") %>
		<strong><%= link_to  "Relacionamento corporativo", who_path %></strong>
	</p>
	
  </div> 
  <%= link_to  "Ver Mais...", who_path , :class => 'link-btn-orange' %>
</div>