<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to I18n.t("company.plural").capitalize, :action => :index  %></li>
      <li class="first active"><%= link_to "Negócios", businesses_path  %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Businesses</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.business.company", :default => t("activerecord.labels.company", :default => "Company_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @businesses.each do |business| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= business.id %>
          </td>
                    <td>
            <%= link_to business.company.layout.name, business_path(business) %>
          </td>
                    <td>
            <%= business.created_at.to_s_br %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", business_path(business) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", business_path(business), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @businesses  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
