<h1 style="font-size:18px; background-image: none!important; padding-left: 0px;">Escolha um desses modelos para seu site:</h1>

<div id="bloco">

  <%= link_to image_tag("company/layout/2.jpg"),{:action=>"create",:layout=>"2"},:class=>is_active("2") %>
  <%= link_to image_tag("company/layout/3.jpg"),{:action=>"create",:layout=>"3"},:class=>is_active("3") %>
  <%= link_to image_tag("company/layout/4.jpg"),{:action=>"create",:layout=>"4"},:class=>is_active("4") %>
  <%= link_to image_tag("company/layout/5.jpg"),{:action=>"create",:layout=>"5"},:class=>is_active("5") %>
  <%= link_to image_tag("company/layout/6.jpg"),{:action=>"create",:layout=>"6"},:class=>is_active("6") %>
  <%= link_to image_tag("company/layout/7.jpg"),{:action=>"create",:layout=>"7"},:class=>is_active("7") %>
  <%= link_to image_tag("company/layout/8.jpg"),{:action=>"create",:layout=>"8"},:class=>is_active("8") %>
</div>