<h3> Endereço</h3>
<p>
  <label for="zip">
    <b>CEP:</b>
  </label>
  <%= address_show.zip %>
</p>
<p>
  <label for="street">
    <b>Rua:</b>
  </label>
  <%= address_show.street %>
</p>
<p>
  <label for="number">
    <b>Número:</b>
  </label>
  <%= address_show.number %>
</p>
<p>
  <label for="complement">
   <b> Complemento:</b>
  </label>
  <%= address_show.complement %>
</p>
<p>
  <label for="neighborhood">
    <b>Bairro:</b>
  </label>
  <%= address_show.neighborhood %>
</p>
<p>
  <label for="city">
   <b> Cidade:</b>
  </label>
  <%= address_show.city %>
</p>