<% fields_for person_edit do |f| %>
  <h3 class="title">Dados Pessoais</h3>
  <div class="group">
    <%= f.label :name, "Nome", :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="group">
    <%= f.label :cpf, "CPF", :class => :label %>
    <%= f.text_field :cpf, :onkeypress=>"mascara(this,cpf)", :class => 'text_field cpf' %>
  </div>
  <div class="group">
    <%= f.label :rg, "RG", :class => :label %>
    <%= f.text_field :rg, :class => 'text_field rg' %>
  </div>
  <div class="group">
    <%= f.label :rg_exp, "Expedidor", :class => :label %>
    <%= f.text_field :rg_exp, :class => 'text_field rg_exp' %>
  </div>
  <div class="group">
    <%= f.label :rg_exp_date, "Data de Expedi&ccedil;&atilde;o", :class => :label %>
    <%= f.date_select :rg_exp_date, :class => 'date_select' %>
  </div>
  <div class="group">
    <%= f.label :date_birth, "Data de Nascimento", :class => :label %>
    <%= f.date_select :date_birth, :class => 'date_select' %>
  </div>
  <% if (current_user.is_director? || current_user.is_administrator?) %>
    <div class="group">
      <%= f.label :subsidiary_id, "Filial", :class => :label %>
      <%= f.select :subsidiary_id, current_user.subsidiaries.collect { |p| [p.title, p.id.to_s] },{:include_blank=>true } %>
    </div>
  <% end %>

<% end  %>

