<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", people_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_person_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Pessoas</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.person.name")%></th>
          <th><%= t("activerecord.attributes.person.cpf")%></th>
          <th><%= t("activerecord.attributes.person.user_type")%></th>
          <th><%= t("activerecord.attributes.person.subsidiary_id")%></th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @people.each do |person| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= person.id %>
            </td>
            <td><%= link_to person.name, person_path(person) %></td>
            <td><%=h person.cpf %></td>
            <td><%= !person.users.empty? ? (person.users.collect { |user| h(ApplicationHelper.humanize_user(user[:type])) }).join(",") : "Vendedor " + ApplicationHelper.show_web_adm(person) %></td>
            <td><%=h person.subsidiary_title%></td>
            <td>
              <%= person.created_at.to_s_br %>
            </td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", person_path(person) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_person_path(person) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", person_path(person), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

        <%= will_paginate @people  %>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
