<div class="panel-head">
	<ul class="panel-actions">
		<li class="<%= 'active' if params[:controller].eql?("system_modules/mailbox/inbox") %>">
			<%= link_to "Caixa de entrada #{@unread_messages_size}", system_modules_mailbox_inbox_path %>
		</li>
		<li class="<%= 'active' if params[:controller].eql?("system_modules/mailbox/sentbox") %>">
			<%= link_to "Enviadas", system_modules_mailbox_sentbox_path %>
		</li>
		<% if params[:controller].eql?("system_modules/mailbox/messages") %>
		<li class="active">
			<%= link_to "Mensagem", system_modules_mailbox_message_path(@message, :message_origin => params[:message_origin]) %>
		</li>
		<% end %>
	</ul>
	<% if @messages %>
		<span>Exibindo <%= @messages.size %> de <%= @total_messages %> resultados</span>
	<% end %>	
</div>