
<p>
	Preencha as informações da sua campanha com atenção. 
	Após carregar uma imagem para ela no próximo passo, sua campanha será publicada no mural de negócios da 
	Célula Z e estará disponível para que  todos os participantes da rede a visualizem.
</p>

<% form_for([:system_modules,@business] ) do |f| %>
  
	<% if @business.errors.any? %>
    	<div class="error_messages">
	      <h2>Erro ao criar uma nova campanha</h2>
	      <ul>
	        <% for message in @business.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>

  <p>	
	<%= f.label :title %>
    <%= f.text_field :title, :class => "text" %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Escreva em até 100 caracteres a chamada da sua campanha" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Determine as regras e divulgue as vantagens do que será oferecido em até 700 caracteres" %>
  </p>
  
  <p>
    <%= f.label :total %>
    <%= f.text_field :total, :class => "number" %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Determine a quantidade de cupons disponíveis na campanha" %>
  </p>
  <p>
    <%= f.label :per_company %>
    <%= f.text_field :per_company, :class => "number" %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Determine a quantidade máxima de cupons que cada usuário poderá adquirir" %>
  </p>
  <p>
    <%= f.label :value %>
    <%= f.text_field :value, :size => 4, :class => "number" %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Indique o valor do produto/serviço" %>
  </p>
  <p>
	<%= f.label :expired_at %>
	<%= f.date_select :expired_at, :start_year => 2011, :end_year => 2013, :datetime_separator => '<span class="separator">-</span>', :time_separator => '<span class="separator">:</span>' %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Indique o dia em que sua campanha será finalizada" %>
  </p>
  <p>
	<%= f.label :voucher_expired_at %>
	<%= f.date_select :voucher_expired_at, :start_year => 2011, :end_year => 2013, :datetime_separator => '<span class="separator">-</span>', :time_separator => '<span class="separator">:</span>' %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Indique a data limite de utilização do cupom de sua campanha" %>
  </p>
<!--
  <p>
	<%= f.label :link %>
    <%= f.text_field :link, :class => "text" %>
	<%= link_to "Help", "#", :class => "tooltip", :title => "Indique um link com mais informações sobre a campanha, se precisar " %>
  </p>
-->
  <div class="actions">
	<div class="next-button">
    	<%= f.submit 'Próximo passo', :class => "submit" %> 
	</div>
  </div>

<% end %>

<script type="text/javascript"> 
	$(document).ready(function() {
		$('a.tooltip[title]').qtip({ 
			style: { name: 'cream', tip: true },
			position: {
			      corner: {
			         target: 'topLeft',
			         tooltip: 'bottomRight'
			      }
			   }
			}
		).click('return false');
	
	});
</script>