<div class="panel-head">
  <ul class="panel-actions">
    <li <%= "class='active'" if params[:action] == 'index' %> ><%= link_to "Campanhas da rede", system_modules_businesses_path %></li>
	<li <%= "class='active'" if params[:action] == 'mine' ||  params[:action] == 'edit' %>><%= link_to "Minhas campanhas", :controller => "system_modules/businesses", :action => "mine" %></li>
    <li <%= "class='active'" if params[:action] == 'new' || params[:action] == 'create' %>><%= link_to "Nova campanha", new_system_modules_business_path %></li>
	<li <%= "class='active'" if params[:action] == 'mine_coupons' %>><%= link_to "Meus cupons", :controller => "system_modules/businesses", :action => "mine_coupons" %></li>	
	<li <%= "class='active'" if params[:action] == 'how' %>><%= link_to "Como funciona", :controller => "system_modules/businesses", :action => "how" %></li>
</ul>
</div>
