<% stylesheet "system_modules/business" %> 
<% javascript "system_modules/business" %>

<%= render "menu" %>

<h1>Meus negócios</h1>
<ul class="tab-negocios" style="border-right: 0px; font-weight: bold; ">
  <li id="title"> Title</li>
    <li id="total"  >Total</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>

<% @businesses.each do |business| %>
  <ul class="tab-negocios" >
    
    
    <li id="title"><%= link_to business.title, company_business_path(business) %></li>
    <li id="total"><%=h business.total %>,00</li>
    <li class="edit"><%= link_to '&nbsp;',  edit_company_business_path(business)  %></li>
    <li class="delete"><%= link_to '&nbsp;', company_business_path(business), :confirm => 'Você tem certeza que quer excluir este negócio? ', :method => :delete %></li>
  </ul>
<% end %>


<%= link_to 'Novo Negócio', new_system_modules_business_path,:class=>'btn-small' %>