<% stylesheet "system_modules/business" %> 
<% javascript "system_modules/business" %>

<%= render "menu" %>

<div class="index campaigns">
<% @businesses.each do |business| %>
	<div class="campaign">
		<div class="thumb">
			<%= link_to image_tag(business.business_image(:small)), system_modules_business_path(business) %>
		</div>
		<div class="description">
			<p><%= link_to business.title, system_modules_business_path(business) %></p>
			<p><%= truncate business.description, :length => 200 %></p>
		</div>
		<div class="info">
			<p>R$ <%= business.value %><p>
			<p>Cupons dispon&iacute;veis: <%= business.coupons_available %></p>
			<p class="call"><%= link_to 'Visualizar campanha &raquo;', system_modules_business_path(business) %></p>
		</div>
	</div>
<% end %>
</div>
<%= will_paginate @businesses, :previous_label=>" ", :next_label=>""%>