<% stylesheet "system_modules/business" %> 
<% javascript "system_modules/business" %>

<%= render "menu" %>

<div class="index campaigns">
<% @businesses.each do |business| %>
	<div class="campaign">
		<div class="thumb">
			<%= link_to image_tag(business.business_image(:small)), system_modules_business_path(business) %>
		</div>
		<div class="description">
			<p><%= link_to business.title, system_modules_business_path(business) %></p>
			<p><%= truncate business.description, :length => 200 %></p>
		</div>
		<div class="info">
			<p class="value">R$ <%= business.value %><p>
			<p>Total de cupons: <%= business.total %></p>
			<p>Dispon&iacute;veis:</p>
		</div>
	</div>
  <ul class="tab-negocios" >
    
    
    
    <li class="edit"><%= link_to '&nbsp;',  edit_system_modules_business_path(business)  %></li>
    <li class="delete"><%= link_to '&nbsp;', system_modules_business_path(business), :confirm => 'Você tem certeza que quer excluir este negócio? ', :method => :delete %></li>
  </ul>
<% end %>
</div>
<%= will_paginate @businesses, :previous_label=>" ", :next_label=>"" %>