<ul>
  <% if logged_in? %>
    <li>
      Logged in as:
    </li>
    <li>
      <%= link_to h(current_user.login.capitalize), user_path(current_user) %>
    </li>
    <ul>
      <li>
        <%= link_to 'Edit Profile', edit_user_path(current_user) %>
      </li>
      <li>
        <%= link_to 'Change Password', change_password_path %>
      </li>
      <li>
        <%= link_to 'Log Out', logout_url %>
      </li>
    </ul>
    <% if current_user.is_administrator? %>
      <li>
        <%= link_to 'Administer Users', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to 'Log In', new_session_path %>
    </li>
    <li>
      <%= link_to 'Sign Up', new_user_path %>
    </li>
    <li>
      <%= link_to 'Forgot Password?', forgot_password_path %>
    </li>
  <% end %>
</ul>
<% content_for :sidebar, render(:partial => 'sidebar') -%>  