<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <ul class="wat-cf">
        <li class="first"><%= link_to "Painel", :controller => "users", :action => "show"  %></li>
        <li><%= link_to "Usu&aacute;rios", users_path  %></li>
        <li class="active"><%=link_to "Criar Usuário Comercial", :action=>:new %></li>
        <li><%=link_to "Criar #{I18n.t("company.singular").capitalize}", :action=>:new,:type=>UserCompany.name %></li>
      </ul>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Cadastro de Usu&aacute;rio Comercial</h2>
    <div class="inner">
      <% form_for :user, @user, :url => users_path, :html => { :class => :form, :method => :post } do |f| -%>

        <%= error_messages_for :user %>
        <%= error_messages_for :person, :object => @person %>

        <div class="group">
          <%= f.label :type, "Tipo de usu&aacute;rio", :class => :label %>
          <%= select_tag :type, options_for_select(current_user.subusers.collect { |p|[ApplicationHelper.humanize_user(p),p]},@user_type),
            {:include_blank=>false, :class => 'date_select'}%>
        </div>
        <div id="person_fields">
          <%= render :partial=>"people/person" ,:object=>@person%>
        </div>
        <h3>Dados do Usuário</h3>

        <div class="group">
          <%= f.label :login, "Login", :class => :label %>
          <%= f.text_field :login, :class => 'text_field' %>
          <span class="description">O login não deve possuir espaços ou caractéres especiais (como vogais com acentos ou "ç")</span>
        </div>
        <div class="group">
          <%= f.label :email, "E-mail #{not_nil_label}", :class => :label %>
          <%= f.text_field :email, :size => 45, :class => 'text_field' %>
        </div>

        <div class="group">
          <%= f.label :password, "Senha #{not_nil_label}", :class => :label %>
          <%= f.password_field :password, :size => 45, :class => 'text_field' %>
        </div>

        <div class="group">
          <%= f.label :password_confirmation, "Confirma&ccedil;&atilde;o de senha #{not_nil_label}", :class => :label %>
          <%= f.password_field :password_confirmation, :class => 'text_field' %>
        </div>

        <div class="group navform wat-cf">
          <button class="button" type="submit">
            <%= image_tag("web-app-theme/tick.png", :alt => "Cadastrar") %>
            <%= t("web-app-theme.save", :default => "Cadastrar") %>
          </button>
          <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancelar")}")} #{t("web-app-theme.cancel", :default => "Cancelar")}", users_path, :class => "button" %>
        </div>

      <% end -%>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>  