<% feeds.each do |feed| %>
  <% unless feed.item.nil? %>
    <div id="<%=feed.id%>" class="item feed_<%=feed.item_type.downcase%>">
	  <!-- avatar -->
	  <%= render :partial => "feed_avatar", :locals => { :feed_item => feed } %>
	
	  <!-- content -->
	  <div class="feed_content">
	  	<%= render :partial => "feed_#{feed.item_type.underscore}", :locals => { :feed_item =>feed } %>
      
	  	<!-- actions -->
	  	<%= render :partial => "feed_actions", :locals => { :feed_item => feed, :company => @company } %>
	  </div>
	
	  <% if @company.feed_items.exists? :id=>feed.id %>
        <a class="remove-feed img_delete"></a>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#<%=feed.id%> .remove-feed").removeFeed();
          });
        </script>
      <% end %>
    </div>
  <% end %>
<% end %>
<div id="companies-like" title="Profissionais/empresas que creditaram" style="display:none;"></div>
