<%= javascript 'third/jquery.bottomlesspagination.js',"third/jquery-ui-1.8.4.custom.min", "third/ckeditor/ckeditor",'company/profile' %>
<%= stylesheet  "third/smoothness/jquery-ui-1.8.10.custom",'company/profile' %>
<div class="col-left">
  <% unless @company.friend_requests.empty? %>
	<div class="warn">
	<% if @company.friend_requests.size > 1 %>
    	Você possui <%= link_to "<strong>0#{@company.friend_requests.size}</strong> solicitações de relacionamento", company_relationships_path %>.
	<% else %>
		Você possui <%= link_to "<strong>0#{@company.friend_requests.size}</strong> solicitação de relacionamento", company_relationships_path %>.
	<% end %>
	</div>
  <% end %>
  <%= render :partial=>"/company/news/news" %>
  <h1>Últimas atividades</h1>
  <div class="feeds">
	<%= render :partial=>"feeds",:object=>@feed_items %>
  </div>
  <%= will_paginate @feed_items %>
</div>
<div class="sidebar">
	<div class="box">
  		<%= render :partial=>"company/message_to_friend/form" %>
	</div>
	<div class="box">
		<h1>
			<%= I18n.t "company.friends" %>
			<small><%= link_to "ver mais", company_relationships_path %></small>
		</h1>
	    <% @friends.each do |company| %>
	      <%=link_to "#{img_tag(company)} #{h truncate company.layout.name, :length => 17} ", system_modules_profile_path(company), :class=>"relac-thumb"%>
	    <% end %>
	</div>
	<div class="box">
		<%= render :partial=>"system_modules/recommendations/form" %>
	</div>
</div>
<div id="dialog-confirm" style="display: none;" title="Remover atividade?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Deseja remover a atividade?</p>
</div>
