<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li class="first"><%= link_to "Gerar títulos", :controller => :main  %></li>
			<li><%= link_to "Títulos", :controller=>"titles" %></li>
			<li><%= link_to "#{I18n.t("company.plural").capitalize} em atraso", :controller=>"company_not_payed" %></li>
			<li><%= link_to "#{I18n.t("company.plural").capitalize} com contratos vencidos", :controller=>"company_no_active_contracts" %></li>
			<li><%=link_to 'Remessas',:controller=>"shippings"%></li>
			<li class="active"><%= link_to 'Enviar Remessa',:controller=>"send_shipping" %></li>
			<li><%= link_to 'Receber Retorno',:controller=>"receive_return",:action=>"new"%></li>
		</ul>
	</div>          
	<div class="content">          
		<h2>Remessa</h2>
	    <div class="inner">
			<p><b><%= I18n.t("activerecord.attributes.shipping.code") %>:</b><%=h @shipping.code %></p>
			<p><b><%= I18n.t("activerecord.attributes.shipping.status") %>:</b><%=h @shipping.status %></p>
			<p><b>Número de Títulos:</b><%=h @shipping.titles.size %></p>
			<p><b>Valor:</b><%=h @shipping.total_value %></p>
			<%= button_to("Gerar Arquivo Remessa",{:action=>"create",:id=>@shipping},:method=>:put,:confirm=>"Tem Certeza?") if @shipping.open? %>
			<p><%= link_to I18n.t("link.back"), :action=>"index" %></p>
		</div>
	</div>
</div>