<% javascript "/ckeditor/ckeditor" %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", template_texts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_template_text_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_template_text_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit") %> Texto Padrão</h2>
    <div class="inner">
      <% form_for @template_text, :url => template_text_path(@template_text), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
<script type="text/javascript">
  CKEDITOR.replace( 'template_text_content',
  {
    on :            {
      instanceReady : function( ev )
      {
        // Output paragraphs as <p>Text</p>.
        this.dataProcessor.writer.setRules( 'p',
        {
          indent : false,
          breakBeforeOpen : true,
          breakAfterOpen : false,
          breakBeforeClose : false,
          breakAfterClose : true
        });
      }
    }
  });
</script>