  <td><%=h title.your_number %></td>
  <td><%=h title.our_number %></td>
  <td><%=h title.status %></td>
  <td><%=h title.emission_date %></td>
  <td><%=h title.due_date %></td>
  <td><%=h title.value %></td>
