<% if !@layout.address_site.nil? && @layout.address_site.show_sidebar %>
  <ul>
    <li id="contato"><h2>Contato</h2>
      <% @layout.phones.each do |phone| %>
        <p><%= "(#{phone.ddd}) #{phone.number}" %></p>
      <% end %>
      <div class="link"><%=@layout.address_site.street%> <%=@layout.address_site.number%>/<%=@layout.address_site.complement%> - <%=@layout.address_site.neighborhood%> - <%=@layout.address_site.city%> - <%=@layout.address_site.state%>
        <p><%=link_to "Ver Mapa","/sites/#{URI::escape @user.login}/show.html",:id=>"map-link-sidebar"%><br /></p>
      </div>
    </li>
  </ul>
  <script type="text/javascript">
    $(document).ready(function(){
      $("a#map-link-sidebar").colorbox({onComplete:function(){
          map.checkResize();
        }});
    });
  </script>
<% end %>