<% stylesheet "company/relationships" %>
<% stylesheet "third/jcarousel/skin" %>
<% javascript "company/relationships" %>
<% javascript "third/jquery.jcarousel.min" %>
<div class="col-left">
  <% if @friend_requests.size > 0%>
    <div id="friends-requests">
      <h1>Solicitações de relacionamento</h1>
      <% @friend_requests.each do |f| %>
        <div id="relationship-<%= f.id %>" class="relation-request">
          <%= link_to "#{img_tag(f)}", system_modules_profile_path(f), :class => "relac-thumb" %>
          <h1><%=link_to "#{h f.layout.name}", system_modules_profile_path(f) %></h1>
          <%= link_to "Aceitar", "javascript:", :data => f.id, :class => "accept_relationship btn-input" %>
          <%= link_to "Recusar", "javascript:", :data => f.id, :class => "refuse_relationship btn-input" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div id="cv-relac-master-box">
    <h1><%= I18n.t "company.friends" %></h1>

    <div class="form-filter">
      <% form_tag '/company/relationships', :method => :get do |f| -%>
        <%= text_field_tag "q", params[:q], :id => "filter", :title => "Filtrar", :class => "input-filter"%>
      <% end -%>
    </div>
    <p>Você tem <%= @company.friends_count %> parceiro(s)</p>
    <% @friends.each do |f| %>
      <%= link_to "#{img_tag(f)} #{h f.layout.name} ", system_modules_profile_path(f), :class => "relac-thumb" %>
    <% end %>
    <div id="search-control-bottom">
      <%= will_paginate @friends,:previous_label=>" ",:next_label=>" ",:id=>'top', :params=>{:q=>@q} %>
    </div>
  </div>
</div>

<div class="col-right">
  <div id="box-sujest-relac">
    <h1>Sugestões de relacionamento</h1>
    <ul id="mycarousel" class="jcarousel-skin-tango">
      <% @suggestions.each do |suggestion| %>
        <li>
          <a href="<%=url_for system_modules_profile_path(suggestion)%>">
			<%= image_tag  suggestion.profile_logo(:small), :width=>"63", :height=>"63", :alt=>suggestion.layout.name, :class=>"relac-thumb" %>
			<%=suggestion.name%>
		  </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
