<div id="cv-relac-master-box">
  <h1><%= I18n.t "company.friends" %></h1>
  <p><%= "#{@company.name}" unless @company.name.nil? %> tem <%= @company.friends_count %> parceiro(s)</p>
  <% @friends.each do |f| %>
    <%= link_to "#{img_tag(f)} #{h f.layout.name} ", { :action => :public, :controller => 'company/profile', :id => f }, :class => "relac-thumb" %>
  <% end %>
  <div id="search-control-bottom">
    <%= will_paginate @friends,:previous_label=>" ",:next_label=>" ",:id=>'top', :params=>{:q=>@q} %>
  </div>
</div>
