<div class="partners">
  <h1><%= I18n.t "company.friends" %></h1>
  <p><%= "#{@company.name}" unless @company.name.nil? %> tem <%= @company.friends_count %> parceiro(s)</p>
  <% @friends.each do |f| %>
    <%= link_to "#{img_tag(f)} #{truncate f.layout.name, :length => 17}", system_modules_profile_path(f), :class => "relac-thumb" %>
  <% end %>
  <div id="search-control-bottom">
    <%#= will_paginate @friends,:previous_label=>" ",:next_label=>" ",:id=>'top', :params=>{:q=>@q} %>
    <%= will_paginate @friends, :previous_label=>"",:next_label=>"" %>
  </div>
</div>
<script>
	$(document).ready(function() { 
		$(".pagination a").live("click", function() {
		    $.get(this.href, function(html){
				$('#ui-tabs-3').html(html);
				return false;
			});
		});
	});
</script>