<% javascript "third/jquery.colorbox-min", "third/jquery-ui-1.8.4.custom.min", "third/jquery.scrollTo-1.4.2-min", "system_modules/profiles" %>
<% stylesheet "third/smoothness/jquery-ui-1.8.10.custom", "system_modules/profiles" %>

<%= hidden_field_tag :user_id,@company.user.id,:class=>"hidden_id" %>
<div id="tabs">
	<ul>
		<li><%= link_to "Participante", "#profile" %></li>
		<li><%= link_to "&Uacute;timas Atividades", { :controller => "system_modules/profiles", :action => "activities", :id => @company } %></li>
		<li><%= link_to "Depoimentos", { :controller => "system_modules/profiles", :action => "testimonials", :id => @company } %></li>
		<li><%= link_to "Parceiros", { :controller => "system_modules/profiles", :action => "partners", :id => @company } %></li>
	</ul>
	<div id="profile">
		<div class="col-left">
			<div class="profile-thumb">
				<%= image_tag @company.profile_logo.url(:big) %>
			</div>
			<div class="relac-actions">
				<% unless current_company.company == @company %>
				<%= link_to "Mensagem", "#", :id => "company-message" %>
				<% end %>
				<% unless @company.user.preference.nil?%>
		    	<% if @company.user.preference.site_published || @company.site_enable? %>
			      <%= link_to 'Meu site',site_path(@company.user), :popup=>true, :class=>"btn-msg" %>
			    <% end %>
				<% end %>	
		    	<span class="relac-request">
			      <% if current_company.company.origins.include?(@company) || current_company.company.destinies.include?(@company) %>
			        <%=link_to 'Remover',{:controller=>"company/relationship_request",:action=>"destroy",:id=>@company}, :class=>"btn-stop-relac",:confirm=>"Deseja interromper o relacionamento?"%>
			      <% elsif @company != current_company.company %>
			        <%=link_to 'Relacionar-se',{:controller=>"company/relationship_request",:action=>"new",:id=>@company}, :class=>"btn-relac"%>
			      <% end %>
			    </span>
			</div>
		</div>
		<div class="col-right">
		  <div class="cv-info-basic">
		    <%= "<h1>#{@company.name}</h1>" unless @company.name.nil? %>
			<% if @company.phones.size > 0%>
		    <p class="phones"> 
				<% for phone in @company.phones %>
					(<%=phone.ddd%>) <%=phone.number%>&nbsp;&nbsp;&nbsp;
				<% end %>
			</p>
			<% end %>
		    <p>
		      <% if @company.address_business_card.show %>
		        <%=h(@company.address_business_card.street) %>,
		        <%=h(@company.address_business_card.number) %>
		        <% if @company.address_business_card.complement != '' %>, <%=h(@company.address_business_card.complement)%><% end %>
		                                          , <%=h(@company.address_business_card.neighborhood)%>,
		        <%=h(@company.address_business_card.city)%> / <%=h(@company.address_business_card.state)%>
		      <% end %>
		    </p>
		    <% unless @company.layout.presentation_text.nil?%>
			<div class="box">
			    <h3>Descri&ccedil;&atilde;o/Atividades</h3>
			    <p><%= h(@company.layout.presentation_text).gsub(/\n/,'<br>')%></p>
			</div>
			<% end %>
			<% if @company.services.size > 0%>
			<div class="box">
			    <h3>Conv&ecirc;nios/Conveni&ecirc;ncias</h3>
				<% for service in @company.services do %>
					<%= image_tag "services/small/#{service.image_path}", :alt=>service.title, :id => "cv-thumb" %>
				<% end %>
			</div>
			<% end %>
			<% if @company.friends.size > 0 %>
			<div class="box">
		      <h3><%= I18n.t "company.friends" %></h3>
			  <p>
		      <% @friends.each do |company| %>
		        <%= link_to "#{img_tag(company)} #{h company.layout.name} ", system_modules_profile_path(company), :class=>"relac-thumb"%>
		      <% end %>
			  </p>
			  <!--<p><%#= link_to "Veja todos os parceiros &raquo;", "#", :id => "partners" %></p>-->
		    </div>
			<% end %>
			<div class="box">
				<div id="company-message-window" style="display:none;">
					<% form_tag ("/messages"), :id => "company-message-form" do -%>
						<%= hidden_field_tag  'message[to]', @company.user.id %>
						<label>Assunto:</label>
						<%= text_field_tag 'message[subject]', '', :id => "message-subject" %>
						<label>Mensagem:</label>
						<%= text_area_tag 'message[body]', '', :id => "message-content", :rows => "5" %>
						<%= submit_tag 'enviar', :class => "btn", :id => "submit" %>
						<div id="result-company-message-window"></div>
					<% end -%>
				</div>
			</div>
		  </div>
		</div>
	</div>
	<div id="ui-tabs-1"></div>
		
</div>