<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Gerar títulos", :controller => :main  %></li>
      <li><%= link_to "Títulos", :controller=>"titles" %></li>
      <li><%= link_to "#{I18n.t("company.plural").capitalize} em atraso", :controller=>"company_not_payed" %></li>
      <li class="active"><%= link_to "#{I18n.t("company.plural").capitalize} com contratos vencidos", :controller=>"company_no_active_contracts" %></li>
      <li><%=link_to 'Remessas',:controller=>"shippings"%></li>
      <li><%= link_to 'Enviar Remessa',:controller=>"send_shipping" %></li>
      <li><%= link_to 'Receber Retorno',:controller=>"receive_return",:action=>"new"%></li>
    </ul>
  </div>
  <div class="content">
    <h2> <%="#{I18n.t("company.plural").capitalize} com contratos vencidos."%></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th><%=I18n.t("activerecord.attributes.company.razao_social") %></th>
          <th><%=I18n.t("activerecord.attributes.company.cnpj") %></th>
          <th><%=I18n.t("activerecord.attributes.company.subsidiary") %></th>
          <th><%=I18n.t("activerecord.attributes.company.parcel") %></th>
          <th><%=I18n.t("activerecord.attributes.company.segment") %></th>
        </tr>
        <% for company in @companies do %>
            <tr class="<%= cycle('odd', 'even')%>">
              <td>
                <%=link_to(company.razao_social,:action=>:show, :id=>company,:page=>@page)%>
              </td>
              <td><%=h company.document%></td>
              <td><%=h company.user.person.subsidiary_title%></td>
              <td><%= h  company.contracts.last.parcel %></td>
              <td><%= h company.segment.name %></td>
            </tr>
          <% end -%>
        </table>
        <%= will_paginate @companies %>
      </div>
    </div>
  </div>