<% javascript "third/jquery.decimalMask.1.1.1.min","third/jquery.maskedinput-1.2.2.min","company/business"%>
<% stylesheet "company/business","scaffold" %>
<h1>Novo Negócio</h1>

<% form_for([:company,@business],:html => {:multipart => true} ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :business_image %><br />
    <%= f.file_field :business_image %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.label :per_company %><br />
    <%= f.text_field :per_company %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
    <script type="text/javascript">
      jQuery("input#business_value").decimalMask({
        separator: ",",
        decSize: 2,
        intSize: 4
      });
    </script>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', company_businesses_path %>