<% javascript "company/business"%>
<% stylesheet "company/business"%> 
<h1>Meus Negócios</h1>
<div style="width: 740px" class="gray-box">
<%= image_tag @business.business_image.url(:big), :class=>'negocio' %>
  <div style= "  float: left;">
    
  <b><%=h @business.title %></b><br><br>
    por:<%=h @business.total %>,00<br><br>
  
  <%= link_to 'Editar', edit_company_business_path(@business) %> | 
  <%= link_to 'Voltar', company_businesses_path %>
  
  </div>
</div>